<html>

<mat-toolbar color="primary" ng-hide="">
 <p class = inicial >ofertas</p>
 <p class = siguiente>capacitaciones</p>
 <p class = siguiente>entrevistas</p>
 <button class = botonNav1 mat-button mat-flat-button  style="display:block; width: 150px;">inicia sesion</button>
 <button class = botonNav2 mat-button mat-flat-button  style="display:block; width: 150px;">registrarse</button>
</mat-toolbar>

<main>
  
  





<mat-card > 
  <h1>Inicio Sesion</h1>
  <p>mantente al dia en tu mundo profesional y <br>
  academico</p>
  <form action="">
    <input type="text" placeholder="usuario">
  </form>
  <form action="">
    <input type="text" placeholder="contraseña">
  </form>
  <button mat-button mat-flat-button color="primary" style="display:block; width: 100%;">inicia sesion</button>
  <button class = BtnGoogle mat-button mat-flat-button  style="width: 30%;">google</button>
  <button class = BtnFacebook mat-button mat-flat-button  style="width: 30%;">facebook</button>
  <button class = BtnLinkedin mat-button mat-flat-button  style="width: 30%;">linkedin</button>
  <p class = derecha>¿has olvidado tu contraseña?</p>
</mat-card>



</main>
</html>



